data/
code/src/notebooks/.ipynb_checkpoints/
code/src/notebooks/Text2Image-master/
code/src/notebooks/__pycache__/
code/src/reference_game_utils/__pycache__/
code/src/utils/__pycache__/
code/src/agents/__pycache__/
code/src/agents/__pycache__/speaker.cpython-37.pyc
*/__pycache__/
code/src/models/
code/src/notebooks/models/
code/src/notebooks/*.csv
code/src/notebooks/*.pkl
code/src/drift_metrics/torch_utils/
writing/thesis/main.pdf
writing/thesis/main-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fff
*.ttt
*.log
*.out
*.synctex.gz
*.toc
*.xml
*.pkl
*.pt
*.txt
*.csv